
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #f4f4f4;
}

header {
    background-color: rgb(217,238,217);
    color: #333;
    padding: 10px 0;
    text-align: center;
}

nav {
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(3, 151, 3);
    text-decoration: none;
    padding: 5px;
}
nav ul li a:hover{
    color: #000;
    background-color: #e5caca;
    border-radius: 4px;
}

main {
    padding: 20px;
    padding-bottom: 100px;
}

h2 {
    color: #333;
}
.section_header{
    margin-left: 100px;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 150px;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    max-width: 300px;
    text-align: center;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    max-width: 100%;
    padding-bottom: 10px;
}

.product h2 {
    color: #444;
    font-size: 18px;
    margin: 10px;
}

.product p {
    color: #666;
    font-size: 14px;
}

.product .price {
    color: #11ce49;
    font-size: 16px;
    margin: 10px 0;
}

footer {
    background-color: #015c0a;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
}

